<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <nav>
        <a href="{% url 'home' %}">🏠 Home</a>
        <a href="#">ℹ️ About</a>
        <a href="#">📞 Contact</a>
        <a href="{% url 'add_post' %}">➕ Add New Post</a>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
